# Joining final data sets

In [1]:
import os
import pandas as pd
from functools import reduce

In [2]:
# Loading the final datasets data come as a result of the jupiter notebooks contained in  
FRSquest = pd.read_csv('E:\HumanA\Data\Data_Tracy\Questionnaires\Adjusted\FRSsubs.csv')
FRSquest.drop('Unnamed: 0', axis=1, inplace=True)
FRSquest.head()

     ID  Alter   Global  Overview  Cardinal
0  8629      23     4.3  5.714286       2.0
1  9627      31     3.3  4.000000       1.0
2  4598      21     5.1  4.857143       2.5
3  1031      20     5.6  5.000000       1.0
4  4847      19     5.3  2.285714       2.0

In [3]:
affiliative = pd.read_csv('E:\HumanA\Data\Data_Tracy\Questionnaires\Adjusted/AffilliativeTend.csv')
affiliative = affiliative[['ID', 'AffiliativeQ_average']]
affiliative.head(18)

      ID  AffiliativeQ_average
0   9627                   2.8
1   4598                   3.8
2   1031                   3.4
3   8629                   5.8
4   4847                   3.6
5   5766                   2.8
6   9297                   4.0
7   7081                   3.8
8   5189                   5.0
9   5743                   5.6
10  6406                   4.2
11  5972                   4.8
12  7935                   1.8
13  2069                   3.8
14  4508                   4.8
15  7393                   1.4
16  5161                   3.0
17  5851                   3.6

In [4]:
context = pd.read_csv('E:\HumanA\Data\Data_Tracy\Questionnaires\Adjusted/ContextQuest.csv')
context = context[['ID', 'item3','ContextQ_average']]
context.head()

     ID  item3  ContextQ_average
0  9627      2               5.0
1  4598      4               5.5
2  1031      2               6.5
3  8629      2               4.5
4  4847      5               4.5

In [5]:
avatar_sum = pd.read_csv('E:\HumanA\Data\Data_Tracy\Questionnaires\Adjusted\AgentQuest.csv')
avatar_sum.head(21)

,ID,remember_action_likert,remember_standing_likert,attractive_action_likert,attractive_standing_likert,realistic_action_likert,realistic_standing_likert
0,1031,3.892857,2.750000,3.321429,2.678571,4.428571,4.107143
1,1843,3.892857,1.892857,2.642857,1.964286,4.071429,3.000000
2,2069,4.035714,1.678571,2.285714,1.892857,3.785714,3.000000
3,3540,2.607143,2.035714,2.071429,1.785714,3.178571,3.142857
4,4580,2.714286,1.571429,1.607143,1.357143,2.714286,1.964286
5,4598,3.642857,2.642857,2.464286,2.357143,4.000000,4.000000
6,4847,2.571429,1.678571,2.285714,1.571429,3.857143,3.107143
7,5161,3.000000,1.607143,1.928571,1.535714,3.642857,2.428571
8,5189,3.714286,2.392857,2.607143,2.678571,3.428571,3.750000
9,5743,3.678571,2.250000,2.678571,1.928571,3.321429,3.107143
10,5766,3.571429,2.607143,2.714286,2.428571,3.178571,2.464286
11,5851,2.535714,1.357143,2.142857,1.571429,3.785714,3.357143
12,5972,3.392857,1.785714,1.928571,1.607143,2.035714,2.107143
13,6406,2.392857,1.178571,1.535714,1.035714,3.071429,2.928571
14,7081,3.392857,1.714286,1.928571,1.607143,2.535714,3.250000
15,7393,3.571429,1.464286,2.107143,1.785714,3.000000,2.500000
16,7935,4.214286,1.928571,4.285714,2.000000,4.428571,1.857143
17,8629,3.714286,2.392857,2.142857,2.107143,3.892857,3.250000
18,9297,4.071429,2.750000,2.964286,2.571429,3.571429,3.142857
19,9627,2.357143,1.142857,2.392857,1.464286,4.857143,4.392857

In [6]:
# TODO: add pointing summary for Building and Agent Task & rename RT to RT_building/ RT_agent, as well as AbsolutError
building_pointing_sum= pd.read_csv('E:\HumanA\Data\Data_Tracy\BuildingTask\BuildingPointingSummary.csv')
building_pointing_sum.drop('Unnamed: 0', axis=1, inplace=True)
building_pointing_sum.head()

,ID,AbsolutError,SignedAngle-+180,IQR,RT,DistanceToParticipant,PointingTaskStartingLocations,TrialNumber,StartPointID,ID_for_StartingPosition,avatarID,AvatarPresenceCategory,Context,BuildingCategory,ImageName
0,1031,53.795348,53.795348,37.943541,25.217632,307.299805,21,1,1,1,33,Omitted,True,Public,33_CmANo_20
1,1031,49.112601,49.112601,37.943541,26.154576,189.228897,13,27,4,3,33,Omitted,True,Public,33_CmANo_20
2,1031,30.743297,30.743297,37.943541,5.969860,381.328827,4,144,18,8,33,Omitted,True,Public,33_CmANo_20
3,1031,151.423249,-151.423249,37.943541,24.303504,258.106903,21,2,1,2,43,Present,False,Residential,43_Sa_55
4,1031,26.825266,26.825266,37.943541,27.219497,83.646942,25,45,6,5,43,Omitted,False,Residential,43_SaNo_55

In [7]:
building_pointing_sum=building_pointing_sum.set_index(['ID']).add_prefix('Building_').reset_index()

In [8]:
building_pointing_sum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3355 entries, 0 to 3354
Data columns (total 15 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   ID                                      3355 non-null   int64
 1   Building_AbsolutError                   3355 non-null   float64
 2   Building_SignedAngle-+180               3355 non-null   float64
 3   Building_IQR                            3355 non-null   float64
 4   Building_RT                             3355 non-null   float64
 5   Building_DistanceToParticipant          3355 non-null   float64
 6   Building_PointingTaskStartingLocations  3355 non-null   int64
 7   Building_TrialNumber                    3355 non-null   int64
 8   Building_StartPointID                   3355 non-null   int64
 9   Building_ID_for_StartingPosition        3355 non-null   int64
 10  Building_avatarID                       3355 non-null   int64
 11  Building_AvatarPresenceCategory         3355 non-null   object
 12  Building_Context                        3355 non-null   bool
 13  Building_BuildingCategory               3355 non-null   object
 14  Building_ImageName                      3355 non-null   object
dtypes: bool(1), float64(5), int64(6), object(3)
memory usage: 370.4+ KB

In [9]:
# TODO: add pointing summary for Building and Agent Task & rename RT to RT_building/ RT_agent, as well as AbsolutError
agent_pointing_sum= pd.read_csv('E:\HumanA\Data\Data_Tracy\AgentTask\AgentPointingSummary.csv')
agent_pointing_sum.drop('Unnamed: 0', axis=1, inplace=True)
agent_pointing_sum.head()

,ID,AbsolutError,SignedAngle-+180,IQR,RT,DistanceToParticipant,PointingTaskStartingLocations,TrialNumber,StartPointID,ID_for_StartingPosition,avatarID,AvatarPresenceCategory,Context,BuildingCategory,AgentCategory,ImageName
0,1031,73.239902,73.239902,44.370344,9.057461,172.425797,15,1,1,1,16,Present,False,Residential,Active,16_SaAct_92_36
1,1031,18.559074,-18.559074,44.370344,28.543825,378.171112,23,67,12,1,16,Present,False,Residential,Active,16_SaAct_92_36
2,1031,76.164533,-76.164533,44.370344,5.412356,61.858631,21,110,19,2,16,Present,False,Residential,Active,16_SaAct_92_36
3,1031,32.789460,-32.789460,44.370344,8.281719,133.832611,4,127,22,1,16,Present,False,Residential,Active,16_SaAct_92_36
4,1031,12.043860,12.043860,44.370344,3.833091,321.284546,15,2,1,2,50,Present,False,Residential,Passive,50_Sa_66_15

In [10]:
agent_pointing_sum=agent_pointing_sum.set_index(['ID']).add_prefix('Agent_').reset_index()

In [11]:
agent_pointing_sum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2520 entries, 0 to 2519
Data columns (total 16 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ID                                   2520 non-null   int64
 1   Agent_AbsolutError                   2520 non-null   float64
 2   Agent_SignedAngle-+180               2520 non-null   float64
 3   Agent_IQR                            2520 non-null   float64
 4   Agent_RT                             2520 non-null   float64
 5   Agent_DistanceToParticipant          2520 non-null   float64
 6   Agent_PointingTaskStartingLocations  2520 non-null   int64
 7   Agent_TrialNumber                    2520 non-null   int64
 8   Agent_StartPointID                   2520 non-null   int64
 9   Agent_ID_for_StartingPosition        2520 non-null   int64
 10  Agent_avatarID                       2520 non-null   int64
 11  Agent_AvatarPresenceCategory         2520 non-null   object
 12  Agent_Context                        2520 non-null   bool
 13  Agent_BuildingCategory               2520 non-null   object
 14  Agent_AgentCategory                  2520 non-null   object
 15  Agent_ImageName                      2520 non-null   object
dtypes: bool(1), float64(5), int64(6), object(4)
memory usage: 297.9+ KB

In [14]:
#data_frames = [FRSquest, affiliative, context, avatar_sum, building_pointing_sum, agent_pointing_sum]
data_frames = [FRSquest, affiliative, context, avatar_sum, building_pointing_sum]
humanA_Behavioural_Building = reduce(lambda  left,right: pd.merge(left,right,on=['ID'],
                                                how='outer'), data_frames)

In [15]:
data_frames = [FRSquest, affiliative, context, avatar_sum, agent_pointing_sum]
humanA_Behavioural_Agent = reduce(lambda  left,right: pd.merge(left,right,on=['ID'],
                                                how='outer'), data_frames)

In [17]:
humanA_Behavioural_Building.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3367 entries, 0 to 3366
Data columns (total 28 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   ID                                      3367 non-null   int64
 1   Alter                                   3366 non-null   float64
 2   Global                                  3366 non-null   float64
 3   Overview                                3366 non-null   float64
 4   Cardinal                                3366 non-null   float64
 5   AffiliativeQ_average                    3137 non-null   float64
 6   item3                                   3137 non-null   float64
 7   ContextQ_average                        3137 non-null   float64
 8   remember_action_likert                  3360 non-null   float64
 9   remember_standing_likert                3360 non-null   float64
 10  attractive_action_likert                3360 non-null   float64
 11  attractive_standing_likert              3360 non-null   float64
 12  realistic_action_likert                 3360 non-null   float64
 13  realistic_standing_likert               3360 non-null   float64
 14  Building_AbsolutError                   3355 non-null   float64
 15  Building_SignedAngle-+180               3355 non-null   float64
 16  Building_IQR                            3355 non-null   float64
 17  Building_RT                             3355 non-null   float64
 18  Building_DistanceToParticipant          3355 non-null   float64
 19  Building_PointingTaskStartingLocations  3355 non-null   float64
 20  Building_TrialNumber                    3355 non-null   float64
 21  Building_StartPointID                   3355 non-null   float64
 22  Building_ID_for_StartingPosition        3355 non-null   float64
 23  Building_avatarID                       3355 non-null   float64
 24  Building_AvatarPresenceCategory         3355 non-null   object
 25  Building_Context                        3355 non-null   object
 26  Building_BuildingCategory               3355 non-null   object
 27  Building_ImageName                      3355 non-null   object
dtypes: float64(23), int64(1), object(4)
memory usage: 762.8+ KB

In [18]:
humanA_Behavioural_Agent.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2532 entries, 0 to 2531
Data columns (total 29 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ID                                   2532 non-null   int64
 1   Alter                                2531 non-null   float64
 2   Global                               2531 non-null   float64
 3   Overview                             2531 non-null   float64
 4   Cardinal                             2531 non-null   float64
 5   AffiliativeQ_average                 2358 non-null   float64
 6   item3                                2358 non-null   float64
 7   ContextQ_average                     2358 non-null   float64
 8   remember_action_likert               2525 non-null   float64
 9   remember_standing_likert             2525 non-null   float64
 10  attractive_action_likert             2525 non-null   float64
 11  attractive_standing_likert           2525 non-null   float64
 12  realistic_action_likert              2525 non-null   float64
 13  realistic_standing_likert            2525 non-null   float64
 14  Agent_AbsolutError                   2520 non-null   float64
 15  Agent_SignedAngle-+180               2520 non-null   float64
 16  Agent_IQR                            2520 non-null   float64
 17  Agent_RT                             2520 non-null   float64
 18  Agent_DistanceToParticipant          2520 non-null   float64
 19  Agent_PointingTaskStartingLocations  2520 non-null   float64
 20  Agent_TrialNumber                    2520 non-null   float64
 21  Agent_StartPointID                   2520 non-null   float64
 22  Agent_ID_for_StartingPosition        2520 non-null   float64
 23  Agent_avatarID                       2520 non-null   float64
 24  Agent_AvatarPresenceCategory         2520 non-null   object
 25  Agent_Context                        2520 non-null   object
 26  Agent_BuildingCategory               2520 non-null   object
 27  Agent_AgentCategory                  2520 non-null   object
 28  Agent_ImageName                      2520 non-null   object
dtypes: float64(23), int64(1), object(5)
memory usage: 593.4+ KB

In [19]:
humanA_Behavioural_Building.to_csv('E:\HumanA\Data\Data_Tracy\Resulting_CSVs\humanA_Behavioural_Building.csv')
humanA_Behavioural_Agent.to_csv('E:\HumanA\Data\Data_Tracy\Resulting_CSVs\humanA_Behavioural_Agent.csv')

In [20]:
humanA_Behavioural_Building[['Building_ImageName', 'Building_avatarID']]

     Building_ImageName  Building_avatarID
0             33_CmA_20               33.0
1              43_Sa_55               43.0
2              43_Sa_55               43.0
3            43_SaNo_55               43.0
4              43_Sa_55               43.0
...                 ...                ...
3362                NaN                NaN
3363                NaN                NaN
3364                NaN                NaN
3365                NaN                NaN
3366                NaN                NaN

[3367 rows x 2 columns]